PORT_BACKEND=3001
PORT_FRONTEND=5173

# Chemin du fichier SQLite (relatif au dossier backend/)
DATABASE_PATH=./qualipilot.db

# Azure DevOps — Personal Access Token
#ADO_PAT=votre_token

# Azure DevOps — Organisation et projet
# Exemple : ADO_ORG=isagri  ADO_PROJECT=Isagri_Dev_GC_GestionCommerciale
ADO_ORG=Isagri-Prod-Progiciels
ADO_PROJECT=Isagri_Dev_GC_GestionCommerciale

# Azure DevOps — URL de base (ne pas modifier sauf cas particulier)
ADO_BASE_URL=https://dev.azure.com

# Sécurité API (optionnel mais recommandé)
# Si défini, les routes d'écriture exigent un header "Authorization: Bearer <clé>"
QUALIPILOT_WRITE_API_KEY=
